# Specifies the Grafana webhook URL to send alert notifications.
GRAFANA_WEBHOOK=http://host.docker.internal:58000/webhook

# Assumes the Langgraph server is running directly in the same host as the pyats server.
PYATS_API_SERVER?=http://localhost:57000